@import "tailwindcss";
*{
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none ;
  color:inherit;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  gap: 20px;
}

.navbar ul{
  display: flex;
  gap: 20px;
}


a.active{
  color: red;
}

.navbar button{
  background: #CAFE33;
  color:#000000;
  padding: 8px 16px;
  border: 16px;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 28px;
}

.container{
  display: flex;
}


.account{
   background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 99px;
  
  
}


 .create{
  background-color: #CAFE33;
 }

 .Log-button{
   background: #CAFE33;
   color:#000000;
   padding: 8px 16px;
  border: 16px;
  outline: 0;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .box{
   
  display: flex;
   align-items: center;
   justify-content: center;
 }

 .count{
  background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 79px;

 }

 .select{

  background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 99px;
}