@import "tailwindcss";
*{
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
   
}

a{
  text-decoration: none ;
  color:inherit;
}

.navbar{
  display: flex;
  justify-content: center;
 
  background-color: rgba(255,255,255,1);
  height: 71px;
  
  
}

.navbar ul{
  display: flex;
  gap: 22px;
}


a.active{
  color: red;
}

.navbar button{
  background: rgba(226,104,4,1) ;
  color:#ffff;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  width: 85px;
  height: 35px;
  
}

.container{
  display: flex;
}


.account{
   background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 99px;
  
  
}


 .create{
  background-color: #CAFE33;
 }

 .Log-button{
   background: #CAFE33;
   color:#000000;
   padding: 8px 16px;
  border: 16px;
  outline: 0;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .box{
   
  display: flex;
   align-items: center;
   justify-content: center;
 }

 .count{
  background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 79px;

 }

 .select{

  background: #CAFE33;
  color:#000000;
  outline: 0;
  border-radius: 12px;
  cursor: pointer;
  width: 70px;
}

.Register{
  background-color: #CAFE33;

}


.Button{
  background-color: #CAFE33;
  width: 300px;
}
